# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
*.iml

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Android/iOS build artifacts
android/app/debug
android/app/profile
android/app/release
ios/Flutter/Flutter.framework
ios/Pods/